<section class="outer-container collaborations">
  <section class="inner-container">
    <div class="collaborations">
      <h2>Collaborations</h2>
      <%= render "strategies/strategy_list" %>
    </div>

    <div class="collaboration pending">
      <h3>
        You currently have <%= pluralize(@pending.count, 'invitation') %> pending
      </h3>
      <%= render "pending" %>
    </div>
  </section>
</section>
