<section class="outer-container">
  <section class="inner-container">
    <h2 class="strategy">New Crossover Strategy</h2>

    <div class="strategy crossover">
      <%= render partial: 'strategy_form' %>
    </div>
  </section>
</section>
