form.strategy {
  header {

  }
  div.indicators {
    div.parameter {
      vertical-align: middle;
      margin: 10px 0;
      font-size: 1.75rem;
      text-align: center;
      div.group {
        vertical-align: middle;
        padding: 5px;
        line-height: 1rem;
        border-radius: 2px;
        display: inline-block;
        background: white;
        border: 2px solid rgba(200,200,200,1);
        overflow: auto;
        font-size: inherit;
        input, select {
          outline: none;
          font-size: inherit;
        }
        input {
          border: none;
          border-bottom: 1px dotted rgba(150,150,150,1);
          text-align: center;
          padding-left: 10px;
        }
        select {
          border: none;
          border-radius: 0;
        }
      }
    }
  }
  div.buttons {
    text-align: center;
  }
}
