div#welcome {
  header {
    margin: 200px 0;
    // padding: 80px 0;
    text-align: center;
    h1 {
      font-size: 7.5rem;
    }
    p {
      text-align: center;
      // font-weight: bold;
      font-size: 1.75rem;
      letter-spacing: -1px;
      color: #888;
      font-style: oblique;
      font-family: Georgia, serif;
      margin: 0 0 50px;
      span.hashtag {
        color: rgb(41, 182, 246);
      }
    }
  }
}