div#welcome {
  header {
    padding: 80px 0;
    h1 {
      font-size: 9rem;
      font-family: 'Oleo Script', cursive;
      text-shadow:
        1px 1px 0 #fff,
        6px 6px 0 #aaa;
      text-align: center;
      margin: 20px 0;
      letter-spacing: -1px;
    }
    p {
      text-align: center;
      // font-weight: bold;
      font-size: 2rem;
      letter-spacing: -1px;
      color: #888;
      font-style: oblique;
      font-family: 'Kaushan Script', cursive;
      margin: 0 0 50px;
      span.hashtag {
        color: rgb(41, 182, 246);
      }
    }
  }
}