form.strategy {
  div.indicators {
    margin: 30px 0;
    div.parameter {
      vertical-align: middle;
      margin: 10px 0;
      // font-family: 'Audiowide', cursive;
      font-family: 'Slabo 27px', serif;
      font-size: 1.5rem;
      text-align: center;
      font-style: oblique;
      color: #555;
      // letter-spacing: -1px;
      text-shadow:
        1px 1px 0 rgba(255,255,255,1);
        // 2px 2px 2px rgba(0,0,0,.5);
      div.group {
        color: #333;
        font-family: 'Roboto', sans-serif;
        text-shadow: none;
        font-style: normal;
        vertical-align: middle;
        padding: 5px;
        line-height: 1rem;
        border-radius: 2px;
        display: inline-block;
        background: white;
        border: 1px solid rgba(150,150,150,1);
        overflow: auto;
        font-size: inherit;
        margin: 0 5px;
        input, select {
          outline: none;
          font-size: inherit;
        }
        input {
          border: none;
          border-bottom: 1px dotted rgba(150,150,150,1);
          text-align: center;
          padding-left: 10px;
          width: 80px;
        }
        select {
          border: none;
          border-radius: 0;
        }
      }
    }
  }
  div.buttons {
    text-align: center;
  }
}
