.strategy.momentum {
  overflow: auto;
  div.indicators {
    div.buy {
      margin-bottom: 10px;
    }
    overflow: auto;
    position: relative;
    text-align: center;
    margin-bottom: 10px;
    input[type='text'] {
      width: 120px;
    }
    label,
    input {
      display: inline-block;
    }
  }

  header,
  div.buttons {
    padding: 10px;
    text-align: center;
    & button {
      display: inline-block;
    }
  }
}
