div#strategy {
  header {
    text-align: center;
    margin: 10px 0;

    h2 {
      margin: 10px 0 0;
    }

    p {
      border-top: 1px solid rgba(100,100,100,0.5);
      padding-top: 5px;
      font-style: oblique;
      font-weight: normal;
      margin: 0;

      &.nav {
        border: none;
        text-align: center;
        margin-bottom: 50px;
        font-style: normal;
      }
    }
  }
}

ol.strategies {
  padding: 0;
  list-style: none;
  overflow: auto;
  li a {
    width: 100%;
    box-sizing: border-box;
    div {
      padding: 20px;
      box-sizing: border-box;
      background: rgba(255,255,255,0.5);
      margin: 2px 0;
      &.name {
        width: 660px;
        float: left;
      }
      &.classification {
        width: 300px;
        float: right;
        text-align: right;
      }
    }
    &:hover {
      div {
        background: rgba(255,255,255,1);
      }
    }
  }
}


span.calculation {
  font-weight: bold;
}

#strategy {
  width: 700px;
  margin: 0 auto;
  div.legend {
    p {
      vertical-align: center;
      line-height: 24px;
    }
    span.indicator {
      display: block;
      float: left;
      height: 20px;
      width: 20px;
      margin-right: 8px;
      background: red;
      border-radius: 5px;
      &.both {
        border: 2px solid orange;
        background: #f1d7a6;
      }
      &.buy {
        border: 2px solid green;
        background: #b3d9b3;
      }
      &.sell {
        border: 2px solid red;
        background: #ffb3b3;
      }
      &.none {
        border: 2px solid blue;
        background: #b3b3ff;
      }
    }
  }
}

#chart {
  width: 960px;
  height: 360px;
  margin: 5px auto;
  background: transparent;
}
