$blue: #29B6F6;
$darkblue: #1976D2;
$lightgray: #ecf0f1;

html {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
}

body {
  margin: 0;
  padding: 0;
  background: $blue;
  color: #eee;
}

a {
  text-decoration: underline;
  color: #0288D1;
  &:hover {
    text-decoration: none;
  }
}

header.outer-container {
  height: 90px;
  padding-top: 5px;
  box-sizing: border-box;
  background: $blue;
}

nav.outer-container {
  background: #FFC107;
  box-shadow: 2px 2px 2px rgba(0,0,0,1);
  border-bottom: 3px solid #eee;
}

section.outer-container {
  background: #FFF;
  color: #333;
  padding: 10px 0;
}

footer.outer-container {
  padding: 10px 0 70px;
  background: $blue;
}

.inner-container {
  overflow: auto;
}

div.notice,
div.alert {
  width: 100%;
  height: 85px;
  line-height: 85px;
  position: fixed;
  top: 0;
  left: 0;
  text-align: center;
  color: white;
  z-index: 1;
}

div.notice {
  background: rgba(124,179,66,1);
  border-bottom: 5px solid rgba(85,139,47,1);
}

div.alert {
  background: rgba(198,40,40,1);
  border-bottom: 5px solid rgba(183,28,28,1);
}

.outer-container {
  width: 100%;
  .inner-container {
    margin: 0 auto;
    width: 960px;
    position: relative;
  }
}

header.outer-container {
  header.inner-container {
    height: 80px;
    h1 {
      line-height: 80px;
      margin: 0;
      padding: 0;
      font-family: 'Oleo Script', cursive;
      font-size: 3.5em;
      font-weight: normal;
      text-shadow:
        2px 2px 0 $blue,
        4px 4px 4px $darkblue;
    }
    aside.session {
      position: absolute;
      top: 0;
      right: 0;
      font-size: 0.9rem;
      // background: green;
    }
  }
}

form.strategy {
  div.strategy,
  div.indicator,
  div.buttons {
    display: block;
    margin: 10px 0;
  }
  div.field {
    display: inline;
  }
}

form.user {
  margin-bottom: 18px;
  div.field {
    margin: 15px 0;
    label {
      display: inline-block;
      width: 120px;
    }
    input {
      margin: 0 10px;
      width: 200px;
      font-size: 1rem;
    }
  }
}

input[type='text'],
input[type='email'],
input[type='password'],
input[type='number'] {
  background: none;
  border: none;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: rgba(200,200,200,1);
  outline: none;
  &:focus {
    border-bottom-color: rgba(20,20,20,1);
  }
}

input[type='number'] {
  box-sizing: border-box;
  width: 50px;
  text-align: center;
  padding-left: 10px;
}

a.button,
div.buttons a,
button {
  display: inline-block;
  box-sizing: border-box;
  font-size: 1rem;
  padding: 8px 12px;
  vertical-align: middle;
  white-space: nowrap;
  border: none;
  border-radius: 5px;
  color: white;
  text-decoration: none;
  outline: none;
  cursor: pointer;
  background: rgba(200,200,200,1);
  border-bottom-width: 5px;
  border-bottom-style: solid;
  border-bottom-color: rgba(100,100,100,1);
  &.blue {
    background: rgba(30,136,229,1);
    border-bottom-color: rgba(21,101,192,1);
  }
  &.green {
    background: rgba(76,175,80,1);
    border-bottom-color: rgba(46,125,50,1);
  }
}