html {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
}

div.notice {
  width: 100%;
  text-align: center;
  color: white;
  background: rgba(139,195,74,0.5);
  position: fixed;
  top: 0;
  left: 0;
  padding: 30px 0;
}

.outer-container {
  width: 100%;

  .inner-container {
    margin: 0 auto;
    width: 960px;
    position: relative;

    aside.session {
      position: absolute;
      top: 0;
      right: 0;
    }
  }
}

div.field {
  margin: 10px 0;
  label {
    display: block;
  }
  input {
    padding: 6px;
    outline: none;
  }
}

.button,
button {
  display: inline-block;
  font-size: 10pt;
  margin: 5px 0;
  padding: 4px 16px;
  line-height: 2;
  border: none;
  border-bottom: 5px solid rgba(21,101,192,1);
  background: rgba(30,136,229,1);
  border-radius: 5px;
  color: white;
  text-decoration: none;
}
